<a href="https://colab.research.google.com/github/ravi-prakash1907/Machine-Learning-for-Cyber-Security/blob/main/Spam%20Filtering/SMS/loan_prediction/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SVM from Analytics Vidhya

In [ ]:
#Import Library
from sklearn import svm
import pandas as pd
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Load Train and Test datasets
#Identify feature and response variable(s) and values must be numeric and numpy arrays
train=pd.read_csv('train.csv')
train.head()

   Loan_ID  Gender  Married  ...  Loan_Amount_Term  Property_Area  Loan_Status
0        1       1        0  ...               360              2            1
1        2       1        1  ...               360              1            0
2        3       1        1  ...               360              2            1
3        4       1        1  ...               360              2            1
4        5       1        0  ...               360              2            1

[5 rows x 11 columns]

In [ ]:
train.shape

(437, 11)

In [ ]:
train.describe()

          Loan_ID      Gender  ...  Property_Area  Loan_Status
count  437.000000  437.000000  ...     437.000000   437.000000
mean   302.256293    0.835240  ...       0.949657     0.684211
std    177.305413    0.371389  ...       0.827969     0.465362
min      1.000000    0.000000  ...       0.000000     0.000000
25%    153.000000    1.000000  ...       0.000000     0.000000
50%    293.000000    1.000000  ...       1.000000     1.000000
75%    454.000000    1.000000  ...       2.000000     1.000000
max    613.000000    1.000000  ...       2.000000     1.000000

[8 rows x 11 columns]

In [ ]:
train_y=train['Loan_Status'] ## predictions
train_x=train.drop(["Loan_Status"],axis=1) ## dependent var

In [ ]:
test=pd.read_csv('test.csv')
test.head()

   Loan_ID  Gender  Married  ...  Loan_Amount_Term  Property_Area  Loan_Status
0        7       1        1  ...               360              2            1
1        8       1        1  ...               360              0            0
2       13       1        1  ...               360              2            1
3       20       1        1  ...                 0              2            1
4       22       1        1  ...               360              2            1

[5 rows x 11 columns]

In [ ]:
test_y=test['Loan_Status']
test_x=test.drop(["Loan_Status"],axis=1)

In [ ]:
# Create Linear SVM object
support = svm.LinearSVC(random_state=20)

In [ ]:
# Train the model using the training sets and check score on test dataset
support.fit(train_x, train_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=20, tol=0.0001,
          verbose=0)

In [ ]:
predicted= support.predict(test_x)
predicted[:10]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
test_y[:10]

0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    1
8    1
9    1
Name: Loan_Status, dtype: int64

In [ ]:
score=accuracy_score(test_y,predicted)

In [ ]:
print("Your Model Accuracy is", score)

Your Model Accuracy is 0.6949152542372882

In [ ]:
train.to_csv( "pred.csv")