<a href="https://colab.research.google.com/github/ravi-prakash1907/Machine-Learning-for-Cyber-Security/blob/background/vectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SMS Vectorizer --> creating Term Frequency (TF)

In [17]:
#Import Library
from sklearn.feature_extraction.text import CountVectorizer
import re
import pandas as pd
import requests

import warnings
warnings.filterwarnings('ignore')

In [2]:
## fun. to download the data from any url
def downloadData(fileURL, saveAs='downloaded'):
  req = requests.get(fileURL)
  fileURLContent = req.content
  data = open(saveAs, 'wb')
  
  data.write(fileURLContent)
  data.close()

In [5]:
## location of the file
smsData = 'https://raw.githubusercontent.com/ravi-prakash1907/Machine-Learning-for-Cyber-Security/main/Datasets/smsspamcollection/SMSSpamCollection.txt?token=AJGAAOCAMD5CH3UF7OFCHPLAWPJMS'

## downloading the from url
downloadData(smsData,'data.csv')

In [10]:

## importing data
sms_spam = pd.read_csv("data.csv", sep='\t', header=None, names=['Label', 'SMS'])

print("Shape",sms_spam.shape)
sms_spam.head()

Shape (5572, 2)

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## Cleaning

In [11]:
### cleaning
sms_spam['SMS'] = sms_spam['SMS'].str.lower()
sms_spam.head(3)

  Label                                                SMS
0   ham  go until jurong point, crazy.. available only ...
1   ham                      ok lar... joking wif u oni...
2  spam  free entry in 2 a wkly comp to win fa cup fina...

In [12]:

## removing the blank spaces
sms_spam['SMS'] = sms_spam['SMS'].str.strip()
sms_spam.head(3)

  Label                                                SMS
0   ham  go until jurong point, crazy.. available only ...
1   ham                      ok lar... joking wif u oni...
2  spam  free entry in 2 a wkly comp to win fa cup fina...

In [18]:
## removing punctuations
def removePunctuations(gotStr):
  cleanedStr = re.sub(r'[^\w\s]', '', gotStr)
  return cleanedStr

sms_spam['SMS'] = sms_spam['SMS'].apply(removePunctuations)
sms_spam.head()

  Label                                                SMS
0   ham  go until jurong point crazy available only in ...
1   ham                            ok lar joking wif u oni
2  spam  free entry in 2 a wkly comp to win fa cup fina...
3   ham        u dun say so early hor u c already then say
4   ham  nah i dont think he goes to usf he lives aroun...

## Vectorization

In [19]:
vectorizer = CountVectorizer()

In [20]:
vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [27]:
corpus = list(sms_spam['SMS'])
corpus[:5]

['go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat',
 'ok lar joking wif u oni',
 'free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s',
 'u dun say so early hor u c already then say',
 'nah i dont think he goes to usf he lives around here though']

In [32]:
vectorizer_fit = vectorizer.fit_transform(corpus)
vectorizer_fit

<5572x9546 sparse matrix of type '<class 'numpy.int64'>'
	with 72774 stored elements in Compressed Sparse Row format>

In [36]:
## words
words = vectorizer.get_feature_names()
words[:5]

['008704050406', '0089my', '0121', '01223585236', '01223585334']

In [35]:
## count
termFrq = vectorizer_fit.toarray()
termFrq[:5]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [23]:
vectorizer.vocabulary_.get('crazy')

2519

In [37]:
df = pd.DataFrame(data=termFrq, columns=words)
df.head()

   008704050406  0089my  0121  01223585236  ...  zoom  zouk  zyada  üll
0             0       0     0            0  ...     0     0      0    0
1             0       0     0            0  ...     0     0      0    0
2             0       0     0            0  ...     0     0      0    0
3             0       0     0            0  ...     0     0      0    0
4             0       0     0            0  ...     0     0      0    0

[5 rows x 9546 columns]

In [51]:
df['Prediction'] = sms_spam['Label']

In [52]:
df.head()

   008704050406  0089my  0121  01223585236  ...  zouk  zyada  üll  Prediction
0             0       0     0            0  ...     0      0    0         ham
1             0       0     0            0  ...     0      0    0         ham
2             0       0     0            0  ...     0      0    0        spam
3             0       0     0            0  ...     0      0    0         ham
4             0       0     0            0  ...     0      0    0         ham

[5 rows x 9547 columns]

## Exporting

In [53]:
df.to_csv("smsData.csv", index=False)

---

## vectorization on the basis of the bigrams

**not tried yet**

In [45]:
#df2 = df[:, col for col in df.columns if sum(df[col] > 0) colSums(df != 0) > 0]
colsToSelect = [col for col in df.columns if sum(df[col] > 0)] # all
df2 = df[:, col for col in df.columns if sum(df[col] > 0)]
df2.head()

SyntaxError: ignored

### Combining

In [40]:
bigram_vectorizer = CountVectorizer(ngram_range=(1, 2),
                                    token_pattern=r'\b\w+\b', min_df=1)
analyze = bigram_vectorizer.build_analyzer()

In [41]:
X_2 = bigram_vectorizer.fit_transform(corpus).toarray()
X_2

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [42]:
## words
words2 = bigram_vectorizer.get_feature_names()
words2[:5]

['0', '0 for', '0 key', '008704050406', '008704050406 sp']