<a href="https://colab.research.google.com/github/ravi-prakash1907/Machine-Learning-for-Cyber-Security/blob/main/Labs/deepNN_lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment : house price using sklearn

In [19]:
## lib
import numpy as np
import pandas as pd
import requests

In [7]:
## data downloader and dounload data

In [8]:
def downloadCSV(fileURL, saveAs='downloaded.csv'):
  req = requests.get(fileURL)
  fileURLContent = req.content
  csv_file = open(saveAs, 'wb')
  
  csv_file.write(fileURLContent)
  csv_file.close()

In [9]:
dataLoc = "https://raw.githubusercontent.com/ravi-prakash1907/Machine-Learning-for-Cyber-Security/main/Labs/dataset/housepricedata.csv?token=AJGAAOBNEAI7J3AXQ53GLM3AX5NOU"

downloadCSV(dataLoc,'housepricedata.csv')

In [10]:
df = pd.read_csv("housepricedata.csv")

In [11]:
df.head()

   LotArea  OverallQual  OverallCond  ...  Fireplaces  GarageArea  AboveMedianPrice
0     8450            7            5  ...           0         548                 1
1     9600            6            8  ...           1         460                 1
2    11250            7            5  ...           1         608                 1
3     9550            7            5  ...           1         642                 0
4    14260            8            5  ...           1         836                 1

[5 rows x 11 columns]

In [12]:
df.shape

(1460, 11)

In [20]:
transformedDF = np.array(df)
transformedDF

array([[ 8450,     7,     5, ...,     0,   548,     1],
       [ 9600,     6,     8, ...,     1,   460,     1],
       [11250,     7,     5, ...,     1,   608,     1],
       ...,
       [ 9042,     7,     9, ...,     2,   252,     1],
       [ 9717,     5,     6, ...,     0,   240,     0],
       [ 9937,     5,     6, ...,     0,   276,     0]])

In [21]:
X = df[df.columns[:-1]]
X.head()

   LotArea  OverallQual  OverallCond  ...  TotRmsAbvGrd  Fireplaces  GarageArea
0     8450            7            5  ...             8           0         548
1     9600            6            8  ...             6           1         460
2    11250            7            5  ...             6           1         608
3     9550            7            5  ...             7           1         642
4    14260            8            5  ...             9           1         836

[5 rows x 10 columns]

In [22]:
Y = df['AboveMedianPrice']
Y.head()

0    1
1    1
2    1
3    0
4    1
Name: AboveMedianPrice, dtype: int64

In [23]:
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)

In [24]:
from sklearn import preprocessing

In [25]:
X_scale

array([[0.0334198 , 0.66666667, 0.5       , ..., 0.5       , 0.        ,
        0.3864598 ],
       [0.03879502, 0.55555556, 0.875     , ..., 0.33333333, 0.33333333,
        0.32440056],
       [0.04650728, 0.66666667, 0.5       , ..., 0.33333333, 0.33333333,
        0.42877292],
       ...,
       [0.03618687, 0.66666667, 1.        , ..., 0.58333333, 0.66666667,
        0.17771509],
       [0.03934189, 0.44444444, 0.625     , ..., 0.25      , 0.        ,
        0.16925247],
       [0.04037019, 0.44444444, 0.625     , ..., 0.33333333, 0.        ,
        0.19464034]])

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test_val, Y_train, Y_test_val = train_test_split(X_scale, Y, test_size=0.3)

In [28]:
X_val, X_test, Y_val, Y_test = train_test_split(X_test_val, Y_test_val, test_size=0.5)

In [29]:
from keras.models import Sequential 
from keras.layers import Dense

In [30]:
model = Sequential([
                    Dense(32, activation='relu', input_shape=(10,)),
                    Dense(32, activation='relu'),
                    Dense(1, activation='sigmoid')
])

In [31]:
model.compile(optimizer='sgd',
                loss='binary_crossentropy',
                metrics=['accuracy'])

In [33]:
history = model.fit(X_train, Y_train, epochs=5)

Epoch 1/5
32/32 [==============================] - 1s 1ms/step - loss: 0.6887 - accuracy: 0.5362
Epoch 2/5
32/32 [==============================] - 0s 1ms/step - loss: 0.6813 - accuracy: 0.5440
Epoch 3/5
32/32 [==============================] - 0s 1ms/step - loss: 0.6741 - accuracy: 0.5245
Epoch 4/5
32/32 [==============================] - 0s 1ms/step - loss: 0.6675 - accuracy: 0.5254
Epoch 5/5
32/32 [==============================] - 0s 1ms/step - loss: 0.6616 - accuracy: 0.5558

In [ ]:
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs):
    if epoch % 100 == 0: print('')
    print('.',end='')
  
model = build_model()

early_stop = keras.callbacks.EarlyStopping(monitor='val_loss', patience=50)
history = model.fit(train_features, train_labels, epochs=1000, verbose=0, validation_split=0.1,
                    callbacks = [early_stop, PrintDot()] )
  
hist = pd.DataFrame(history.history)
hist['epoc'] = history.epoch

rmse_final = np.sqrt(float(hist['val_mse'].tail(1)))
print()
print("Final RMSE on val: ",round(rmse_final,3))

In [35]:
mse, _, _ = model.evaluate(X_test, Y_test)
rmse = np.sqrt(mse)
print("RMSE on test: ",round(rmse,3))

7/7 [==============================] - 0s 3ms/step - loss: 0.6619 - accuracy: 0.5068

ValueError: ignored

In [34]:
model.evaluate(X_test, Y_test)

7/7 [==============================] - 0s 2ms/step - loss: 0.6619 - accuracy: 0.5068

[0.661926805973053, 0.5068492889404297]