<a href="https://colab.research.google.com/github/ravi-prakash1907/Machine-Learning-for-Cyber-Security/blob/background/Classifiers/Neive%20Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Neive Bayes Classifier 

**Steps:**  
1. Get the prediction labels' probability  
2. Get the probability for all the dependent varieables (labels') probabilities for corresponding possibilities  
3. Use Neive Bayes' Classifier  
4. Predict based on the Maximum A Posteriori (_MAP_)

In [82]:
## libraries
import pandas as pd
import numpy as np

In [83]:
df = pd.read_csv('stolenCars.csv')
df.head()

  Car-ID   Color    Type    Origin Stolen?
0     C1     Red  Sports  Domestic     Yes
1     C2     Red  Sports  Domestic      No
2     C3     Red  Sports  Domestic     Yes
3     C4  Yellow  Sports  Domestic      No
4     C5  Yellow  Sports  Imported     Yes

In [84]:
df.shape

(10, 5)

In [85]:
df.describe()

       Car-ID   Color    Type    Origin Stolen?
count      10      10      10        10      10
unique     10       2       2         2       2
top        C8  Yellow  Sports  Imported     Yes
freq        1       5       6         5       5

---

## 1. Get the prediction labels' probability

In [86]:
## tells all the uniquevalues
predictions = list(df['Stolen?'].unique())
print(predictions)

['Yes', 'No']

In [87]:
dataKnown = df['Stolen?'].value_counts()
dataKnown

Yes    5
No     5
Name: Stolen?, dtype: int64

In [88]:
## probabolities of all possible conditions
dataKnown/len(df)

Yes    0.5
No     0.5
Name: Stolen?, dtype: float64

---

In [90]:
## gives rows with given set of cols
def countRows(df,label,predLabel):
  tempDf = df
  x = [df.loc[i][label] in predLabel for i in df.index]
  count = 0
  ind = []
  for val in x:
    if not val:
      ind.append(count)
      count += 1
  
  
  print(ind)
  tempDf.drop(ind, inplace=True)
  return tempDf

countRows(df, 'Stolen?', ['Yes'])

[0, 1, 2, 3, 4]

  Car-ID   Color    Type    Origin Stolen?
5     C6  Yellow     SUV  Imported      No
6     C7  Yellow     SUV  Imported     Yes
7     C8  Yellow     SUV  Domestic      No
8     C9     Red     SUV  Imported      No
9    C10     Red  Sports  Imported     Yes

In [68]:
## gives rows with given set of cols
def countRows(df,label,predLabel):
  x = [df.loc[i][label] in predLabel for i in df.index]
  count = 0
  for val in x:
    if val:
      count += 1
  return count

5

In [69]:
countRows(df, 'Stolen?', ['Yes'])

5

In [ ]:
def getProb(df, upper, pred = 'Yes'):
  total = countRows(df, 'Stolen?', ['Yes'])

  prob = withPred/total
  topVal = df[]

In [ ]:
## P( Y | (R, SUV, D))  ===  ??
# P(R/Y)
## for Yes

given = ('Red', 'Sports', 'Domestic')
for lab in given:
  #